{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>P4 Drawing</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>

    <style type="text/css">
    </style>

</head>
<body>
    <!-- You may change the dimensions of this canvas -->
    <canvas id="myCanvas" width="750px" height="750px"></canvas>
</body>
<script>

    // setting up the canvas and one paper tool
    var canvas = document.getElementById('myCanvas');
    paper.setup(canvas);
    var tool = new paper.Tool();

    // getting the URL (you may want to use for Exercise 3)
    var url = window.location.href;
    var socket = new WebSocket('wss://p3-websockets-leoalcaraz-lalcaraz-guzman403574.codeanyapp.com/ws/draw');  
   
  var pastPoints = new Array();  
  
  var users = new Array(); 
  var myPath = new paper.Path(); 
  var count = users.length; 
  var id; 
  
  
    tool.onMouseMove = function(e) {
      
      //need to change colors here 
      myPath.strokeColor = "black";

      console.log(self.window.name);
      
      var cur = [users, [e.point.x, e.point.y]];
      var strPoint = JSON.stringify(cur);
      socket.send(strPoint);      
    }
    
    
    //triggered when receiving a message from the server
    socket.onmessage = function(msg) {
      //this receives the x and y coordinates and updates the screens accordingly, 
      console.log(msg);
      pt = JSON.parse(msg.data);
      //console.log(pt);
      
      //checkUser(); //should have given each user a unique id 
      
      //console.log("users before: ", users);
      users = pt[0];
      //console.log("users after: ", users);
      //console.log("message recieved: ", msg.data);
      //only run update screen if it's another screen, not the og. ? 
      updateScreen(pt[1]);  
    } 
    
    //it adds a user name 
    function checkUser() {
       if (users.length === 0) {
        addNewUser();
      } 
      else {
        var match = false; 
        for (x in users) {
          console.log("x", users[x]);
          console.log("id", id);
          if  (id === users[x]) {
            console.log("this id already exists");
            match = true;
          }        
        }
        //so if this user doesn't exist 
        if (match === false) {
            addNewUser()
        }
      }
    }
    
    //this will add the position of my moust to path so it should update the drawing 
    //make an array and add it to pastpoints array 
    
    function addNewUser(){
        count += 1;
        id = "screen" + count.toString();
        users.push(id);
        console.log("user", users[0]);   
    } 
    
  
    
    
    function updateScreen(pt) {
      var temp = new paper.Point(pt); 
      myPath.add(temp);
    }
  
    
    socket.onclose = function(e) {
      console.error('Chat socket closed unexpectedly.');
    }


</script>
</html>
