{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>P4 Drawing</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>

    <style type="text/css">
    </style>

</head>
<body>
    <!-- You may change the dimensions of this canvas -->
    <canvas id="myCanvas" width="750px" height="750px"></canvas>
</body>
<script>

    // setting up the canvas and one paper tool
    var canvas = document.getElementById('myCanvas');
    paper.setup(canvas);
    var tool = new paper.Tool();

    // getting the URL (you may want to use for Exercise 3)
    var url = window.location.href;
    var socket = new WebSocket('wss://p3-websockets-leoalcaraz-lalcaraz-guzman403574.codeanyapp.com/ws/draw');  
   
  var pastPoints = new Array();  
  
  var users = new Array(); 
  var myPath = new paper.Path(); 
  var num = Math.floor(Math.random() * 10000);
  var color = get_rand_color(); 
  
  var colorOptions = ["red","yellow", "pink", "green"];
  
  /*function colorPicker() {  
    for (x in colorOptions) {
      if (color === "black") {
        if (colorOptions[x] !== "empty"){
        color = colorOptions[x];
        colorOptions[x] = "empty";
        return;
      }

      }
      
    }
  }*/
  
  
  socket.onopen = function(event) {    
    tempString = JSON.stringify(colorOptions);
    var idmsg = '{"name": "id", "num": ' + num.toString() +', "colors": ["'+ colorOptions[0] +'", "' + colorOptions[1] +'", "' + colorOptions[3] +'"]}'; 
    console.log("message being sent, "+ idmsg);
    socket.send(idmsg);
    
  } 
  
  
  function get_rand_color()
{
    var color = Math.floor(Math.random() * Math.pow(256, 3)).toString(16);
    while(color.length < 6) {
        color = "0" + color;
    }
    return "#" + color;
}
  /*var i; 
  for (i=0; 1<10; i++){
    //return get_rand_color();
    console.log("random color: ", get_rand_color());
  }*/ 
 
  
    tool.onMouseMove = function(e) {      
      //need to change colors here 
      //colorPicker();
      myPath.strokeColor = color;
      var cur = [e.point.x, e.point.y];
      var val = '{"name": "point", "value": [' + cur.toString() + ']}';
      //var val = '{"name": "point", "value": [0, 2]}';
      socket.send(val);      
    }
    
    
    //triggered when receiving a message from the server
    socket.onmessage = function(msg) {
      //this receives the x and y coordinates and updates the screens accordingly, 
      console.log("message ", msg);
      
      pt = JSON.parse(msg.data); //does this convert it back into an array ? Where did the brackets go? 
      
      if (pt.name === "point") {
        updateScreen(pt.value);
      } 
      
      if (pt.name === "id") {
        users.push(pt.num);
        var updatedUsers = '{"name": "users", "value": [' + users.toString() + ']}';
        socket.send(updatedUsers);
      }
      if (pt.name === "users"){
        users = pt.value;
      }
    } 
    
    function updateScreen(pt) {
      var temp = new paper.Point(pt); 
      myPath.add(temp);
    }
  
 /* window.addEventListener(‘devicemotion’, function(event) {
      //if tilted to the right, (gamma direction) change color of the pen 
      alert('Motion Detected');
  });
  
  window.addEventListener(‘deviceorientation’, (event) => {
      // Device rotation around X-axis, in degrees
      //console.log(event.beta + ‘deg’);
      alert(event.beta + 'deg');
  });*/
  
    
    socket.onclose = function(e) {
      console.error('Chat socket closed unexpectedly.');
    }


</script>
</html>
