{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>P4 Drawing</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>

    <style type="text/css">
    </style>

</head>
<body>
    <!-- You may change the dimensions of this canvas -->
    <canvas id="myCanvas" width="750px" height="750px"></canvas>
</body>
<script>

    // setting up the canvas and one paper tool
    var canvas = document.getElementById('myCanvas');
    paper.setup(canvas);
    var tool = new paper.Tool();

    // getting the URL (you may want to use for Exercise 3)
    var url = window.location.href;
    var socket = new WebSocket('wss://p3-websockets-leoalcaraz-lalcaraz-guzman403574.codeanyapp.com/ws/draw');  
   
  var pastPoints = new Array();  
  
  var users = new Array(); 
  var myPath = new paper.Path(); 
  //var count = users.length;
  var num = Math.floor(Math.random() * 10000);
  var color; 
  var colorOptions = ["red", "green", "yellow"];
  
  function colorPicker() {
    if (users.length === 0) {
      color = colorOptions[0];
      colorOptions[0] = "empty";
    }
    else { 
      //iterate through colors and pick one that isn't === "empty" 
      
    }
  }
  
  colorPicker();
  var idmsg = '{"name": "id", "num": ' + num.toString() +', "color": "'+ color +'"}';
  console.log(idmsg);
  socket.onopen = function(event) {
    socket.send(idmsg);
  } ;
  //socket.send(idmsg);
  

  //checkUser();
  /*name my user, send the user name to open screens, open screens will name 
  on load 
  */

  
  //if no input then just keep going 
  
  
  
    tool.onMouseMove = function(e) {      
      //need to change colors here 
      myPath.strokeColor = "black";
      var cur = [e.point.x, e.point.y];
      var val = '{"name": "point", "value": [' + cur.toString() + ']}';
      //var val = '{"name": "point", "value": [0, 2]}';
      socket.send(val);      
    }
    
    
    //triggered when receiving a message from the server
    socket.onmessage = function(msg) {
      //this receives the x and y coordinates and updates the screens accordingly, 
      console.log(msg.data);
      
      pt = JSON.parse(msg.data); //does this convert it back into an array ? Where did the brackets go? 
      
      if (pt.name === "point") {
        updateScreen(pt.value);
      } 
      
      if (pt.name === "id") {
        users.push(pt.num);
        var updatedUsers = '{"name": "users", "value": [' + users.toString() + ']}';
        socket.send(updatedUsers);
      }
      if (pt.name === "users"){
        console.log("users len: ", users);
        users = pt.value;
        console.log("users len: ", users);
      }
    } 
    
    function updateScreen(pt) {
      var temp = new paper.Point(pt); 
      myPath.add(temp);
    }
  
    
    socket.onclose = function(e) {
      console.error('Chat socket closed unexpectedly.');
    }


</script>
</html>
